body {
    background-color: #1a282d;
    font-family: "Sansita";
    color: white;
}

#title {
    /* font-family: "Berkshire Swash"; */
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#monkey-image {
    width: 100%;
    height: auto;
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

#message {
    margin-top: 8px;
    color: #6efc16;
    /* color: #eb655c; */
}

#message-box {
    display: inline-block;
    margin-top: 16px;
}

#message-tick {
    /* display: inline-block; */
    display: none;
    border-radius: 50%;
    padding: 16px 16px 16px 16px;
    color: #6efc16;
    background-color: #4a4a4a;
}

#message-x {
    /* display: inline-block; */
    display: none;
    border-radius: 50%;
    padding: 16px 16px 16px 16px;
    color: #eb655c;
    background-color: #4a4a4a;
}

#input-box {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#input-field {
    width: auto;
}

#btn-new {
    background-color: #1a282d;
    border: 1px solid #434343;
    color: #d3d3d3;
    padding: 2px 8px 4px 8px;
}

#btn-new:hover {
    color: white;
    border: 1px solid white;
}

#btn-reveal-answer {
    background-color: #1a282d;
    border: 1px solid #434343;
    color: #d3d3d3;
    padding: 2px 8px 4px 8px;
    margin-top: 8px;
    visibility: hidden;
}

@media (min-width: 640px) {
    #input-box {
        width: 350px;
    }
    #monkey-image {
        height: 40vh;
        width: auto;
    }
}
