body {
    background-color: #1a282d;
    font-family: "Roboto";
    color: white;
}

#title {
    /* font-family: "Berkshire Swash"; */
    font-size: 2rem;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#monkey-image {
    height: auto;
    width: 100%;
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

#message {
    margin-top: 10px;
    font-family: "Roboto";
}

#input-box {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#input-field {
    width: auto;
}

@media (min-width: 640px) {
    #input-box {
        width: 350px;
    }
}

#btn-new {
    background-color: #1a282d;
    border: 1px solid #757474;
    color: #d3d3d3;
}

#btn-new:hover {
    color: white;
    border: 1px solid white;
}

#btn-reveal-answer {
    background-color: #1a282d;
    border: 1px solid #757474;
    color: #d3d3d3;
    visibility: hidden;
}
