body {
    background-color: #1a282d;
    font-family: "Sansita";
    color: white;
}

.main-nav {
    height: 3rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.main-nav__items {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-nav__logo {
    display: flex;
}

.main-nav img {
    height: 2.5rem;
    width: auto;
}

.main-nav__title {
    margin-left: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 8px;
    font-size: 2rem;
    color: white;
}

#monkey-image {
    width: 100%;
    height: auto;
    max-width: 750px;
    margin-top: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

#input-box {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-right: 0;
}

#input-field {
    width: auto;
    font-size: 1.1rem;
    padding-top: 4px;
    padding-bottom: 6px;
    background-color: rgb(235, 235, 235);
}

#message-box {
    height: 70px;
    display: inline-block;
    margin: 16px 0 16px 0;
    vertical-align: middle;
}

#message {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align: middle;
    color: #6efc16;
    /* color: #eb655c; */
}


#message-main {
    font-size: 2.5rem;
    margin-bottom: 4px;
    display: block;
    line-height: 32px;
}

#message-sub {
    font-size: 1.4rem;
    margin-bottom: 0;
    display: block;
}

#message-tick {
    /* display: inline-block; */
    margin-right: 16px;
    display: none;
    border-radius: 50%;
    padding: 14px 14px 14px 14px;
    color: #6efc16;
    background-color: #4a4a4a;
    animation: pulse 0.2s 3;
}

#message-x {
    /* display: inline-block; */
    margin-right: 16px;
    display: none;
    border-radius: 50%;
    padding: 14px 14px 14px 14px;
    color: #eb655c;
    background-color: #4a4a4a;
    animation: shake 0.5s;
}

@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    60% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#btn-enter {
    padding-left: 24px;
    padding-right: 24px;
}

#btn-newgame-box {
    margin: 0 auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#btn-newgame {
    width: 100%;
    background-color: rgb(204, 203, 203);
    border: 1px solid #434343;
    color: #1a282d;
    vertical-align: middle;
    padding: 6px 8px 6px 8px;
    margin-top: 10px;
    display: inline-block;
}

#btn-newgame:hover {
    background-color: rgb(235, 234, 234);
    border: 1px solid #434343;
    color: #1a282d;
}

#lower-buttons {
    border-top: 1px solid #4a4a4a;
    margin-left: auto;
    margin-right: auto;
}

#btn-next,
#btn-reveal {
    width: 100%;
    height: 2.5rem;
    background-color: #273b43;
    border: 1px solid #434343;
    color: rgb(163, 163, 163);
    vertical-align: middle;
    padding: 6px 8px 6px 8px;
    margin-top: 10px;
    display: inline-block;
}

#btn-next:hover,
#btn-reveal:hover {
    color: white;
    border: 1px solid white;
}

#btn-reveal {
    display: none;
}

@media (min-width: 640px) {
    #monkey-image {
        height: 50vh;
        width: auto;
    }

    #input-box {
        width: 350px;
    }

    #btn-newgame-box {
        width: 200px;
    }

    #lower-buttons {
        width: 600px;
    }

    #btn-next-box {
        padding-right: 0;
        padding-left: 36px;
    }

    #btn-reveal-box {
        padding-left: 0;
        padding-right: 36px;
    }
}
